{% extends "base.html" %}
{% block title %}主页{% endblock %}
{% block content %}
    <div class='container' id="main">
        <div class="activity">
            <div class="panel panel-default dynamic">
                <div class="panel-heading">
                    <h3 class="panel-title">动态</h3>
                </div>
                <div class="panel-body">
                    <div class="state">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    </div>
                    <div class="state">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </div>
                    <div class="state">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                <h3 class="panel-title">统计</h3>
                </div>
                <div class="panel-body">
                    Panel content
                </div>
            </div>
        </div>

    </div>

{% endblock %}



